.second_view {
  width: 100%;
  height: 100%;
  padding: 36px 48px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .title {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
